/* General styling */
body {
    font-family: Arial, sans-serif;
    color: #4a4a32;
    background-color: #e5e5d0;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #d3d8c8;
    color: white;
}

.logo img {
    height: 80px;
    width: 120px; /* Adjust width as needed */
  }
  

nav a {
    color: #666;
    text-decoration: none;
    margin: 0 10px;
    
}

nav a:hover {
    text-decoration: underline;
}

/* Main section styling */
main {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #e5e5d0;
}

.about-section {
    background-color: #d3d3c0;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    color: #4a4a32;
}

.about-section h1 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info h2 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info a {
    color: #4a4a32;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}
