header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #d3d3c0;
    color: white;
}

.logo img {
    height: 60px;
    width: 80px; /* Adjust width as needed */
}

nav a, .logout {
    color: #666;
      margin: 0 15px;
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;
      transition: color 0.3s;
}

nav a:hover {
    color: #8B0000;
}

.logout{
    background-color: #436656;
    padding: 10px;
    border-radius:  15px;
    border: none;
    color: #eff8d6;
    transition: all 0.3s ease;
}
.logout:hover{
    background-color: #eff8d6;
    color:#414907;
    cursor:pointer;
}